/* sizes */
:root {
  --size-1: 1px;
  --size-2: 2px;
  --size-4: 4px;
  --size-8: 8px;
  --size-8-: -8px;
  --size-12: 12px;
  --size-14: 14px;
  --size-16: 16px;
  --size-24: 24px;
  --size-20: 20px;
  --size-24-: -24px;
  --size-28: 28px;
  --size-40: 40px;
  --size-32: 32px;
  --size-48: 48px;
  --size-52: 52px;
  --size-56: 56px;
  --size-96: 96px;
  --size-280: 280px;
  --size-324: 324px;
  --size-860: 860px;
  --full-100: 100%;
}
