:root {
  // Rotate
  --rotate-180: rotate(180deg);

  // Scale
  --scale-default: scale(1);
  --scale-sm: scale(1.05);
  --scale-0-8: scale(0.8);
  --scale-95: scale(0.95);

  // Opacity
  --opacity-90: 0.90;
}
