@mixin scrollbar() {
  scrollbar-gutter: stable;

  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    padding: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-scroll-bar);
    border-radius: 8px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }
}
